form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}
h1 {
  align-items: center;
}
p {
  align-items: center;
  text-align: center;
}
.h1p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}
.pcontact {
  font-size: 1.2rem;
}

.buyitnowref {
  margin-bottom: 3rem;
  margin-top: 1.5rem;
  width: 20vh;
  height: 5vh;
  border-radius: 1vh;
  background-color: rgb(79, 137, 162);
}
#message {
  width: 50vh;
  height: 30vh;
  border-radius: 1vh;
}
