header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 5rem;
  font-size: 2rem;
  color: black;
}
