/* Assuming you have a header element with a class of "header" */
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 5, 5);
  background: url("/header.jpg");
  background-size: cover; /* This property scales the image to cover the entire header */
  height: 300px; /* Set the desired height for your header */
  /* Other styles for your header */
}

/* Assuming you have a nav element with a class of "nav" */
.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  color: rgb(12, 52, 232);
  text-decoration: none;
  background-color: aliceblue;
  border-radius: 1vh;
}
