.list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: larger;
}
li {
  gap: 10px;
  margin: 10px;
  font-size: larger;
}

.positive-change {
  font-size: larger;
  color: rgb(2, 99, 2); /* Change the text color to green for positive change */
}

.negative-change {
  font-size: larger;
  color: rgb(
    242,
    114,
    114
  ); /* Change the text color to red for negative change */
}
body {
  display: flex;
  flex-direction: row;
}

p {
  color: aliceblue;
  font-size: larger;
}

h1 {
  color: aliceblue;
}

.convert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  color: aliceblue;
  margin-right: 10px;
  gap: 20px;
  font-size: larger;
}

select {
  width: 200px; /* Increase the width as needed */
  padding: 10px; /* Add padding for a larger appearance */
  margin-bottom: 10px;
}

button {
  width: 200px; /* Increase the width as needed */
  padding: 10px; /* Add padding for a larger appearance */
  border-radius: 20px;
}

input {
  width: 200px; /* Increase the width as needed */
  padding: 10px; /* Add padding for a larger appearance */
  border-radius: 20px;
}

h2 {
  color: aliceblue;
}

.now {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}
.yesterday {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}
.liIinsideLi {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: larger;
}

.color24 {
  color: aliceblue;
}
.paragraphe {
  width: 1400px;
  text-align: center;
}

.ulpara {
  color: aliceblue;
}
